.reminderForm {
  margin-top: 22px;
}

.colorLabel {
  border-radius: 6px;
  border: 1px solid #31272566;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 48px;
  width: 55px;
}

.colorRadio {
  display: none;
}

.colorLabel:has(.colorRadio:checked) {
  border: 5px solid #101277;
}

.formDivider {
  background: rgba(49, 39, 37, 0.2);
  height: 1px;
  margin-bottom: 39px;
  width: auto;
}

.formButtons {
  text-align: right;
}